<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.startup">
      <startup class="com.example.tutorhelpplugin.Activator" />
   </extension>
   
   <extension point="org.eclipse.debug.ui.consoleLineTrackers">
     <consoleLineTracker
        class="com.example.tutorhelpplugin.launching.TutorPluginLogTracker"
        processType="java"
        id="com.example.tutorhelpplugin.launching.TutorPluginLogTracker">
     </consoleLineTracker>
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <category
            name="Assignments Category"
            id="com.example.TutorHelpPlugin">
      </category>
      <view
            name="Assignment Questions View"
            icon="icons/yy.png"
            category="com.example.TutorHelpPlugin"
            class="com.example.tutorhelpplugin.views.AssignmentQuestionsView"
            id="com.example.tutorhelpplugin.views.AssignmentQuestionsView">
      </view>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               id="com.example.tutorhelpplugin.views.AssignmentQuestionsView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.example.tutorhelpplugin.splashHandlers.InteractiveSplashHandler"
            id="com.example.tutorhelpplugin.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="com.example.tutorhelpplugin.splashHandlers.interactive"
            productId="org.eclipse.epp.package.jee.product">
      </splashHandlerProductBinding>
   </extension>   
   
</plugin>
